// variables
$color_1: black;
$color_2: #fff;
$color_3: #333;
$color_4: red;
$color_5: white;
$color_6: #999;
$color_7: rgb(6, 5, 4);
$font-family_1: Arial, sans-serif;
$font-family_2: sans-serif;
// mixin
@mixin color {
    background-color: #2ecc71;
	color: $color_2;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}
@mixin botonCompra {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #c00;
	color: $color_2;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	&:hover {
		background-color: #900;
	}
}