@import "./variables";

/* Estilos del cuerpo y de la barra de navegacion */
body {
	margin: 0;
	padding: 0;
	font-family: $font-family_1;
	font-size: 16px;
	color: $color_1;
}
header {
	background-color: rgb(95, 2, 2);
	padding: 20px;
	h1 {
		color: $color_2;
		margin: 0;
	}
}
.container-fluid {
	max-width: 1200px;
	margin: 0 auto;
}
nav {
	padding: 10px;
	.nav-item {
		margin: 0 5px;
	}
	ul {
		display: flex;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin: 0 10px;
	}
}
#titulo1 {
	font-size: 2rem;
	font-weight: bold;
	font-family: $font-family_2;
	text-shadow: 2px 2px #333;
	padding: 0.5em;
	align-items: center;
	text-align: center;
}
.nav-link {
	color: $color_3;
}
.form-control {
	font-size: 1.2rem;
}
/* Estilos del Banner */
.banner {
	background-image: url(../images/genteentrenando2.jpg);
	background-size: cover;
	background-position: top;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $color_4;
	h2 {
		color: $color_5;
		font-size: 3rem;
		text-align: center;
	}
}
.btn-comprar {
	background-color: rgb(254, 5, 21);
	color: $color_2;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 20px;
	text-transform: uppercase;
	transition: background-color 0.3s ease-in-out;
	&:hover {
		background-color: rgb(9, 5, 3) !important;
	}
}
/* Estilos de index.html */
#metodosDePago {
	background-color: #f2f2f2;
	padding: 2em;
	text-align: center;
}
.listaDePago {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2em;
}
.metodosdepago {
	flex: 0;
	margin-bottom: 2 rem;
}
.pagos {
	img {
		max-width: 10%;
	}
	p {
		font-size: 0.9em;
		color: $color_6;
	}
}
#Ofertas {
	background-color: #fff;
	padding: 2em;
	text-align: center;
}
.listaDeOfertas {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2em;
}
.Ofertas {
	flex: 0 0 300px;
	margin-bottom: 2em;
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 2em;
	img {
		max-width: 100%;
		height: auto;
		margin-top: 1em;
	}
	h3 {
		font-size: 1.2em;
		margin: 0.5em 0;
	}
	p {
		font-size: 0.9em;
		color: $color_6;
	}
}
.precioViejo {
	font-size: 1em;
	text-decoration: line-through;
	color: $color_6;
	margin-top: 0;
}
.precioNuevo {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em 0;
	margin-bottom: 0;
}
button {
	@include botonCompra
}

#productosDestacados {
	background-color: #f2f2f2;
	padding: 2em;
	text-align: center;
	h2 {
		font-size: 2em;
		margin-bottom: 1em;
	}
}
.listaDeProductos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2em;
}
.productosDestacados {
	flex: 0 0 300px;
	margin-bottom: 2em;
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	text-align: center;
	img {
		width: 100%;
		height: auto;
		margin-top: 1em;
	}
	h3 {
		font-size: 1.2em;
		margin-top: 1em;
	}
	p {
		font-size: 0.8em;
		margin-top: 0.5em;
	}
}
.precio {
	font-size: 1.2em;
	color: $color_7;
	margin-top: 0.5em;
	display: block;
}

scroll-container {
    display: block;
    width: 254px;
    height: 72px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* Estilo de Productos.html */

.cuerpoDeProductos {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
.tituloDeProductos {
	text-align: center;
	font-size: 36px;
	margin-bottom: 30px;
}
.Productos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.fotoDeProductos {
	width: 48%;
	margin-bottom: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}
.InfoDeProductos {
	padding: 10px;
	text-align: center;
}
.NombreDeProductos {
	font-size: 24px;
	margin-bottom: 10px;
}
.DescripcionDelProducto {
	font-size: 16px;
	margin-bottom: 10px;
}
.PrecioDelProducto {
	font-size: 20px;
	margin-bottom: 10px;
	color: $color_7;
	font-weight: bold;
}
.add-to-cart-btn {
	@include botonCompra
}

/* Estilo para el CarritoDeCompras.html */

.cuerpoDeCarrito {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
}
.tituloDeCompras {
	font-size: 36px;
	text-align: center;
	margin-bottom: 30px;
}
.carrito {
	margin-top: 30px;
}
table {
	width: 100%;
	border-collapse: collapse;
}
th {
	padding: 10px;
	text-align: center;
	background-color: #ccc;
}
td {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
input[type="0"] {
	width: 50px;
	text-align: center;
}
.eliminarCompra {
	background-color: #e74c3c;
	color: $color_2;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}
.vaciarCompra {
	background-color: #3498db;
	color: $color_2;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}
.comprarProducto {
@include color
}
tfoot {
	td {
		font-weight: bold;
	}
}
.botonesDeCompra {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

/* Estilo para el footer */

footer {
	background-color: black;
	color: $color_2;
	padding: 10px;
	text-align: center;
}

/* Estilos para el video */

video {
	display: block;
	margin: auto;
	margin-top: 2rem;
}

/* Estilos para Contacto.html*/

section#presentacion {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f7f7f7;
	video {
		margin-top: 20px;
		max-width: 100%;
	}
}
.contenedor-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.contenido-flex {
	max-width: 1000px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* Estilos para el formulario de contacto */

#contacto {
	margin-top: 50px;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	text-align: center;
	h1 {
		font-size: 2rem;
		margin-bottom: 20px;
	}
	p {
		font-size: 1.2rem;
		margin-bottom: 20px;
	}
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 600px;
	margin: 0 auto;
}
label {
	font-size: 1.1rem;
	margin-bottom: 5px;
	text-align: left;
	width: 100%;
	max-width: 600px;
	padding-left: 10px;
}
input[type="text"] {
	width: 100%;
	max-width: 600px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
input[type="email"] {
	width: 100%;
	max-width: 600px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
textarea {
	width: 100%;
	max-width: 600px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	height: 150px;
}
button[type="submit"] {
	padding: 10px 20px;
	font-size: 1.2rem;
	border: none;
	border-radius: 5px;
	background-color: #4CAF50;
	color: $color_2;
	cursor: pointer;
	&:hover {
		background-color: #3E8E41;
	}
}

/* Estilos para dispositivos móviles */

@media screen and (max-width: 768px) {
	header {
		padding: 10px;
		h1 {
			font-size: 24px;
		}
	}
	.container-fluid {
		padding: 0 10px;
	}
	nav {
		ul {
			flex-direction: column;
			align-items: flex-start;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		li {
			margin: 5px 0;
		}
	}
	.banner {
		padding: 50px 10px;
		h2 {
			font-size: 36px;
		}
	}
	.btn-comprar {
		padding: 8px 16px;
		font-size: 14px;
	}
	.btn-outline-success {
		font-size: 1rem;
	}
	.listaDeMetodos {
		flex-direction: column;
		align-items: center;
	}
	.listaDeOfertas {
		flex-direction: column;
		align-items: center;
	}
	.listaDeProductos {
		flex-direction: column;
		align-items: center;
	}
	.metodoDePago {
		width: 100%;
	}
	.ofertas {
		width: 100%;
	}
	.productoDestacado {
		width: 100%;
	}
}
